/* 
COLORES
Texto: #333 
*/


/* AXUSTES COMUNS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}


/*Textos*/

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}


/* Secións */

.contenedor {
    width: 100%;
    float: left;
    background: #dbdbdb;
}

.contido {
    width: 90%;
    margin: 0 auto;
    background: #fff;
}


/* CABECEIRA */

header {
    width: 100%;
    float: left;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5fffb4;
}

header .logo {
    width: 40%;
}

header .interruptores {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .interruptores a {
    margin: .1em;
    font-size: 3.5em;
    font-weight: bold;
    color: #fff;
}

header .interruptores #cerrar {
    display: none;
}


/* menú */

nav.menu {
    /*display: none;*/
    background: #fff;
    position: fixed;
    top: 4em;
    right: 0;
    min-width: 80%;
    height: 100%;
    box-shadow: -1px 2px 4px #333;
    left: 105%;
}

.menu ul {
    width: 100%;
    float: left;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.menu ul li {
    width: 100%;
    padding: .2em 0 .2em 0;
    border-bottom: 1px solid #333;
    border-top: 1px solid transparent;
    font-size: 2em;
    text-align: center;
    background: #fff;
    transition: all .5s ease-in;
}

.menu ul li:hover,
.menu ul li:focus,
.menu ul li:active {
    background: #cccccc;
}